.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 500px; /* Reduce bottom margin */
}

.card {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 100px; /* Reduce bottom margin */
}

.card svg {
  margin-right: 10px;
}

.card span {
  font-size: 1.25rem; /* Enlarge the text */
  font-weight: bold;
  color: #333;
}

.highlight-card {
  background-color: #f5f5f5;
}

.card-small {
  width: 300px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsla(0, 0%, 94%, 0.114);
}
.container {
  background-color: rgba(255, 255, 255, 0.5); /* white color with 80% opacity */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-top: 2%;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input, .form-group select {
    width: 94%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e0e3ed;
}
.form-group input:focus, .form-group select:focus {
    outline: none;
    border-color: #007BFF;
}
.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: rgb(248, 241, 241);
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.btn:hover {
    background-color: #0056b3;
}

/* Style for the form container */
form {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
  }
  
  /* Style for the form fields */
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }

  /* Style for the buttons */
  button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  /* Style for the toggle button */
  .toggle-button {
    margin: 20px auto;
    display: block;
  }
  
  

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px salmon #ccc;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  .toggle-button {
    flex: 1;
    margin-right: 10px;
  }
  
  .clear-button {
    flex: 1;
    margin-left: 10px;
  }

  .search-filter-container mat-form-field {
    flex: 1;
    margin-right: 10px;
  }


.search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Container for the workout list */
.workout-list {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: all 0.3s ease-in-out;
}

/* Table styles */
.workout-list table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

/* Table header styles */
.workout-list th {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

/* Table body styles */
.workout-list td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Table row hover effect */
.workout-list tr:hover {
  background-color: #f1f1f1;
}

/* Responsive design */
@media (max-width: 768px) {
  .workout-list {
    width: 95%;
  }

  .workout-list th, .workout-list td {
    padding: 8px;
  }
}

  
/* Container for the workout list */
.workout-list {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: all 0.3s ease-in-out;
}

/* Table styles */
.workout-list table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

/* Table header styles */
.workout-list th {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

/* Table body styles */
.workout-list td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Table row hover effect */
.workout-list tr:hover {
  background-color: #f1f1f1;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 1em;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination-controls button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  width: 80px;
  transition: background-color 0.3s;
}

.pagination-controls button:hover {
  background-color: #0056b3;
}

.pagination-controls button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.pagination-controls span {
  font-size: 1em;
  color: #333;
  margin: 0 1em;
}
/* Responsive design */
@media (max-width: 768px) {
  .workout-list {
    width: 95%;
  }

  .workout-list th, .workout-list td {
    padding: 8px;
  }
}

/* Search and filter controls */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}

.search-input, .filter-select, .btn {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: #0056b3;
}

.btn:hover {
  background-color: #45a049;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it's behind other content */
  overflow: hidden; /* Prevent background from extending beyond viewport */

  /* Background styles */
  background-image: url('../assets/pexels-thatguycraig000-1546901.jpg'); /* Adjust path as per your file location */
  background-size: cover; /* Cover the entire element */
  background-position: center; /* Center the background image */
  filter: blur(10px); /* Apply the blur effect to the background */
}

.content {
  position: relative;
  z-index: 1; /* Place it above the blurred background */
  /* Add styles for your content */
}

.beautiful-button {
  position: relative;
  display: inline-block;

  background: linear-gradient(to bottom, #90EE90, #90EE90);
 /* Gradient background */  color: green;
 /* White text color */
  font-family: "Segoe UI", sans-serif;
 /* Stylish and legible font */
  font-weight: bold;
  font-size: 18px;
 /* Large font size */
  border: none;
 /* No border */
  border-radius: 20px;
 /* Rounded corners */
  padding: 14px 28px;
 /* Large padding */
  cursor: pointer;
 /* Cursor on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 /* Subtle shadow */
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
 /* Smooth transition */
}

/* Hover animation */
.beautiful-button:hover {
  background: linear-gradient(to bottom, #023020, #023020);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
}

/* Click animation */
.beautiful-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Shimmer animation */
@keyframes button-shimmer {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}

/* Particle animation */
@keyframes button-particles {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}
.footer {
  color: black; /* Change text color to black */
}

.footer a {
  color: black; /* Change text color to black */
}

.footer .link-text {
  color: blue; /* Change link text color */
  text-decoration: underline; /* Add underline to link text */
  margin-left: 5px; /* Add some space between text */
}